@font-face {
  font-family: 'Brice Regular';
  src: url('/fonts/Brice Regular SemiExpanded.otf') format('opentype');
}

body {
  font-family: 'Helvetica', sans-serif; /* Default for smaller text */
}
